
{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}
<!-- Hero Slider -->
 <section class="hero-slider style1">
     <div id="owl-slideshow" class="home-slider">
         <!--<div id="owl-slideshow" class="owl-carousel owl-theme home-slider">-->
         <!-- Single Slider -->
   <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/1.jpg' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                 <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>SISIRPati</h1>
                                 <div class="p-text">
                                     <p style="font-size: 40px">Sistem Informasi Pesisir Kabupaten Pati</p>
                                     <br>
                                     <p style="font-size: 25px">Dinas Kelautan dan Perikanan Kabupaten Pati, Jawa Tengah</p>
                                 </div>
                                 <!--<div class="button">
                                     <div class="button">
                                         <a href="#" class="bizwheel-btn theme-1 effect"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Lokasi</a>
                                     </div>
                                 </div>-->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!--/ End Single Slider -->

         <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static  'assets/images/banner/SISIR1.png' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                 <!--<div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1></h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px"></p>
                                 </div>
                                 <div class="button">
                                      <a href="#" class="bizwheel-btn theme-1 effect">Lihat Berita</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->

         <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR2.png'%})">
             <div class="slide-overlay"></div>
             <div class="container">
                 <!--<div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                <h1></h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px"></p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Kegiatan</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!-- / End Single Slider -->

         <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR31.png' %}) ">
             <div class="slide-overlay"></div>
             <div class="container">
                <!-- <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>Persiapan Lomba Kampung Tertib Lalu Lintas 2021</h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px">Penghijauan Hutan Mangrove Kabupaten Pati Tahun 2021</p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Lihat Berita</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->

         <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR4.png' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                <!-- <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>Pemetaan Hutan Mangrove</h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px">Kegiatan Pemetaan Hutan Mangrove, Untuk Data Wilayah Hutan Mangrove. </p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Kegiatan</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->
         
           <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR5.png' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                <!-- <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>Pemetaan Hutan Mangrove</h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px">Kegiatan Pemetaan Hutan Mangrove, Untuk Data Wilayah Hutan Mangrove. </p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Kegiatan</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->
         
           <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR61.png' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                <!-- <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>Pemetaan Hutan Mangrove</h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px">Kegiatan Pemetaan Hutan Mangrove, Untuk Data Wilayah Hutan Mangrove. </p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Kegiatan</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->
         
           <!-- Single Slider -->
         <div class="single-slider item" style="background-image:url({% static 'assets/images/banner/SISIR71.png' %})">
             <div class="slide-overlay"></div>
             <div class="container">
                <!-- <div class="row">
                     <div class="col-lg col-md col-12">
                         <div class="welcome-text">
                             <div class="hero-text text-center">
                                 <h1>Pemetaan Hutan Mangrove</h1>
                                 <div class="p-text">
                                     <p style="font-size: 25px">Kegiatan Pemetaan Hutan Mangrove, Untuk Data Wilayah Hutan Mangrove. </p>
                                 </div>
                                 <div class="button">
                                     <a href="#" class="bizwheel-btn theme-1 effect">Kegiatan</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
             </div>
         </div>
         <!--/ End Single Slider -->
     </div>
 </section>
 <!--/ End Hero Slider -->
 <!-- Features Area -->
<section class="features-area section-bg">
    <div class="container">
        <div class="row">

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Feature -->
                    <div class="single-feature">
                        <div class="icon-head"><i class="fa fa-clipboard"></i></div>
                        <h4><a href="<?=base_url('Siemang/Profil')?>">PROFIL</a></h4>
                        <!--                    <p><p>Pemohon informasi publik mengajukan keberatan secara tertulis kepada atasan PPID Pembantu Kecamatan Bantul dalam jang</p> -->
                        
                    </div>
                    <!--/ End Single Feature -->
                </div>
                            <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Feature -->
                    <div class="single-feature">
                        <div class="icon-head"><i class="fa fa-puzzle-piece"></i></div>
                        <h4><a href="<?=base_url('Siemang/Potensi')?>">POTENSI</a></h4>
                        <!--                    <p><p>Syarat dan ketentuan berlaku</p></p> -->
                       
                    </div>
                    <!--/ End Single Feature -->
                </div>
                            <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Feature -->
                    <div class="single-feature">
                        <div class="icon-head"><i class="fa fa-newspaper-o"></i></div>
                        <h4><a href="<?=base_url('Siemang/Berita/1')?>">BERITA</a></h4>
                        <!--                    <p><p>Anda bisa mengajukan keberatan atas permohonan informasi publik jika :</p><ol><li>Permohonan informasi ditolak tanpa </p> -->
                        
                    </div>
                    <!--/ End Single Feature -->
                </div>
                            <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Feature -->
                    <div class="single-feature">
                        <div class="icon-head"><i class="fa fa-map"></i></div>
                        <h4><a href="<?=base_url('Siemang/Peta')?>">PETA</a></h4>
                        <!--                    <p><p><strong>Pelaksanaan Penerbitan&nbsp;IUMK</strong></p><ol><li>Penerbitan naskah IUMK oleh Camat yang telah mendapatkan</p> -->
                        
                    </div>
                    <!--/ End Single Feature -->
                </div>
            
        </div>
        
    </div>
</section>
<!--/ End Features Area -->

<!-- Call To Action -->
<section class="call-action overlay" style="background-image:url('https://source.unsplash.com/s9wPpQqo3d8/1500x300')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="call-inner text-center">
                    <h2><i>"PATI BUMI MINA TANI"</i></h2>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->

<!-- Latest Blog -->
<section class="latest-blog section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="section-title default text-center">
                    <div class="section-top">
                        <h1><span><i class="fa fa-paper-plane"></i></span><b>Kabar Pesisir Terbaru</b></h1>
                    </div>
                    <div class="section-bottom">
                        <div class="text">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-latest blog-latest-slider">

                    <?php if ($berita != null) { 
                        foreach ($berita as $b) { ?>
                        
                        
                        <div class="single-slider">
                            <!-- Single Blog -->
                            <div class="single-news ">
                                <div class="news-head overlay">
                                    <span class="news-img" style="background-image:url('<?=base_url("assets/images/berita/".$b->Image)?>')"></span>
                                    <a href="<?=base_url('Siemang/DetailBerita/'.$b->id)?>" class="bizwheel-btn theme-2">Selengkapnya</a>
                                </div>
                                <div class="news-body">
                                    <div class="news-content">
                                        <h3 class="news-title"><a href="https://singosaren.desaspasial.com/berita/54-kerjabakti-persiapan-launching-dan-lomba-kampung-lalu-lintas"><?=$b->Judul?></a></h3>
                                        <div class="news-text">
                                            <p><p><?=$b->Head?></p>
                                        </div>
                                        <ul class="news-meta">
                                            <li class="date"><i class="fa fa-calendar"></i><?php echo date('d F Y', strtotime($b->Kalender))?></li>
                                            <li class="view"><i class="fa fa-folder"></i><?=$b->Folder?></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Blog -->
                        </div>

                    <?php }
                } ?>
                        

                    
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col d-flex justify-content-end">
                <a href="<?=base_url('Siemang/Berita/1')?>" class="btn btn-light">Lebih Lengkap <span class="fa fa-fw fa-chevron-right"></span></a>
            </div>
        </div>
    </div>
</section>
<!--/ End Latest Blog -->

<!-- Call To Action -->
<section class="call-action overlay" style="background-image:url('https://source.unsplash.com/s9wPpQqo3d8/1500x300')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="call-inner">
                    <h2><i>"KRIDANE PANEMBAH GEBYARING BUMI"</i></h2>
                    <p>Bekerja Keras Meningkatkan Kesejahteraan Daerah</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->



<!-- Client Area -->
<div class="clients section-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-slider">
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Sipetarung Pati" data-alamat="Jl. Jend. Sudirman No. 66 Kab Pati" data-telp="0295 - 381304" data-logo="sipetarung.jpg" data-web="https://sipetarung.patikab.go.id/" data-fb="kosong" data-twitter="kosong" data-ig="kosong"><img src="{% static 'assets/images/client/sipetarung.jpg' %}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Puskesmas Banguntapan II" data-alamat="Krobokan, Tamanan, Banguntapan, Bantul" data-telp="(0274) 7466879" data-logo="pranala-2-puskesmas2_png.jpg" data-web="https://puskesmas.bantulkab.go.id/banguntapan2/" data-fb="kosong" data-twitter="kosong" data-ig="https://www.instagram.com/pusk.banguntapan2/"><img src="{% static 'assets/images/client/DINKES.jpg'%}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Puskesmas Banguntapan III" data-alamat="Karangsari, Tegaltandan, Banguntapan, Bantul" data-telp="(0274) 4544667" data-logo="pranala-5-puskesmas3_png.jpg" data-web="https://puskesmas.bantulkab.go.id/banguntapan3/" data-fb="kosong" data-twitter="kosong" data-ig="https://www.instagram.com/puskesmas_sanden/"><img src="{% static 'assets/images/client/POLRES.jpg'%}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Polsek Banguntapan" data-alamat="Jl. Wonosari, Banguntapan, Bantul" data-telp=" (0274) 414132" data-logo="pranala-4-polsek_png.jpg" data-web="kosong" data-fb="kosong" data-twitter="kosong" data-ig="https://www.instagram.com/humaspolsekbanguntapan/"><img src="{% static 'assets/images/client/PEMDA.jpg'%}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Koramil Banguntapan" data-alamat="Ngipik, Baturetno, Banguntapan, Bantul" data-telp="" data-logo="pranala-5-koramil_png.jpg" data-web="kosong" data-fb="kosong" data-twitter="kosong" data-ig="kosong"><img src="{% static 'assets/images/client/DPU.jpg'%}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                                            <!-- Single client -->
                        <div class="single-slider">
                            <div class="single-client">
                                <a href="#" data-toggle="modal" id="pranala" data-target="#detailModal" data-judul="Kantor Urusan Agama Banguntapan" data-alamat="Karangturi, Baturetno, Banguntapan, Bantul" data-telp="(0274) 384019" data-logo="pranala-6-kua_png.jpg" data-web="kosong" data-fb="kosong" data-twitter="kosong" data-ig="kosong"><img src="{% static 'assets/images/client/DLH.jpg'%}" alt="#"></a>
                            </div>
                        </div>
                        <!--/ End Single client -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Client Area -->



{% endblock content %}